CompileFlags:
  Add: [-std=c++17, -I../sdk/include]
  Remove: []

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [-checks=performance-*,readability-*,bugprone-*]

Format:
  Style: Google
